<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
        <title>Secure Ticket Validation - Dashboard</title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">
        
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        
        <script type="text/javascript">
			var _locations = [
				"Boston, MA",
				"Burlington, VT",
				"Dallas, TX",
				"Manchester, NH",
				"New York City, NY",
				"Newark, NJ"
			];
			
            $(document).ready(function(){
				$('.alert-dismissible').alert();
				
				var $inTripFrom = $('#inTripFrom');
				var $inTripTo = $('#inTripTo');
				
				$.each(_locations, function(idx, val){
					$inTripFrom.append('<option id="' + val + '">' + val + '</option>');
					$inTripTo.append('<option id="' + val + '">' + val + '</option>');
				});
            });
        </script>
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="text-center">
                        <h1>Dashboard<br />
                        <small>Welcome, {{ userid }}! | <a href="/logout">Logout</a></small></h1>
                    </div>
                </div>
			</div>
			
			{% if error %}
            <div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
					<div class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<strong>Error</strong> {{ error }}
					</div>
				</div>
			</div>
            {% endif %}
			
			{% if success %}
            <div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
					<div class="alert alert-success alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<strong>Success</strong> {{ success }}
					</div>
				</div>
			</div>
            {% endif %}
			
			
			{% if usertype == 1 %}
			<!-- Customer dashboard !-->
			<div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="text-center">
						<p>
							Customers are able to "buy" tickets here which will generate a ticket in the system for them.
							This ticket will be cryptographically linked to them to prevent fraud. I have no included
							the logic for multiple stops or transit leg lengths (I assume you have this already).
						</p>
					</div>
				</div>
			</div>
			
			<div class="row" style="padding-top: 20px;">
				<div class="col-xs-12 col-lg-5 col-lg-offset-1">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Purchased Ticket(s)</h3>
						</div>
						<div class="panel-body">
							{% if not entries %}
							No purchase history available
							{% endif %}
						</div>
						
						{% if entries %}
						<table class="table">
							<tr>
								<th>Details</th>
								<th>Purchased</th>
								<th>Expires</th>
								<th>From</th>
								<th>To</th>
							</tr>
						
						{% for entry in entries %}
							<tr>
								<td><a href="#{{ entry.ticket }}">view</a></td>
								<td>{{ entry.date_start.strftime("%d/%m/%y") }}</td>
								<td>{{ entry.date_end.strftime("%d/%m/%y") }}</td>
								<td>{{ entry.trip_from }}</td>
								<td>{{ entry.trip_to }}</td>
							</tr>
						{% endfor %}
						
						</table>
						{% endif %}
					
					</div>
				</div>
				<div class="col-xs-12 col-lg-5">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Book A Trip</h3>
						</div>
						<div class="panel-body">
							<p>Your trip will be valid for 30 days after purchase.</p>
							
							<form role="form" id="userForm" method="post">
								<div class="form-group">
									<label for="inTripFrom" class="control-label">From</label>
									<select id="inTripFrom" name="inTripFrom" class="form-control" autofocus tabindex="1">
		
									</select>
								</div>
								
								<div class="form-group">
									<label for="inTripTo" class="control-label">To</label>
									<select id="inTripTo" name="inTripTo" class="form-control" tabindex="2">
		
									</select>
								</div>
								
								<center>
									<button id="btnSubmit"
											name="btnSubmit"
											type="submit"
											tabindex="3"
											class="btn btn-info">Book</button>
								</center>
							</form>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			
			{% if usertype == 2 %}
			<!-- Staff dashboard !-->
			<div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="text-center">
						<p>
							The idea here is that staff would scan a user-provided QR code containing certain information about both the
							user and the ticket. The server would need to validate that the ticket belongs to the user and report back
							to staff the original ticket information (so they can manually verify things like hops / transfers left).
						</p>
						
						<p>
							The QR will need to contain around 58-66 characters / bytes of data. The
							QR code format should be <em>&lt;SHA-224 ticket&gt;:&lt;UserID&gt;</em>
						</p>
					</div>
				</div>
			</div>
			
            <div class="row" style="padding-top: 20px;">
				<div class="col-xs-12 col-lg-8 col-lg-offset-2">
					<form class="form-horizontal" role="form" id="userForm" method="post">
						<div class="form-group">
							<label for="inID" class="col-sm-2 control-label">User's ID</label>
							<div class="col-sm-10">
								<input type="text" class="form-control"
									id="inID" name="inID"
									maxlength="32"
									placeholder="251">
							</div>
						</div>
							
						<div class="form-group">
							<label for="inTicket" class="col-sm-2 control-label">User's Ticket</label>
							<div class="col-sm-10">
								<input type="text" class="form-control"
									id="inTicket" name="inTicket"
									maxlength="56"
									placeholder="619cba8e8e05826e9b8c519c0a5c68f4fb653e8a3d8aa04bb2c8cd4c">
							</div>
						</div>
						
						<center>
                            <button id="btnSubmit"
									name="btnSubmit"
                                    type="submit"
                                    tabindex="3"
                                    class="btn btn-info">Validate</button>
						</center>
					</form>
				</div>
			</div>
			{% endif %}
        </div>
    </body>
</html>