<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
        <title>Secure Ticket Validation - Login</title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">
        
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        
        <script type="text/javascript">
            $(document).ready(function(){
				$('.alert-dismissible').alert();
            });
        </script>
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="text-center">
                        <h1>Account Login<br />
                        <small>Please Enter Your Account Credentials Below</small></h1>
                    </div>
                </div>
			</div>
            {% if error %}
            <div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
					<div class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<strong>Error</strong> {{ error }}
					</div>
				</div>
			</div>
            {% endif %}
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
                    <form role="form" id="loginForm" method="post">
                        <div class="form-group">
                            <label for="inEmail">Email Address</label>
                            <input type="text"
                                   tabindex="1"
                                   autofocus
                                   class="form-control"
                                   id="inEmail"
								   name="inEmail"
                                   placeholder="example@business.com">
                        </div>
                        
                        <div class="form-group">
                            <label for="inPassword">Password</label>
                            <input type="password"
                                   tabindex="2"
                                   class="form-control"
                                   id="inPassword"
								   name="inPassword"
                                   placeholder="Password">
                        </div>
                        
                        <center>
                            <button id="btnSubmit"
									name="btnSubmit"
                                    type="submit"
                                    tabindex="3"
                                    class="btn btn-info">Login</button>
                            
                            <br /><br />
                            <a href="/register">Register an account</a>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>